{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <form method="POST" action="/buy">
                <div class="form-control">
                    <input class="form-control" type="text" name="symbol" placeholder="GOOG, APPL, IBM">
                    <input class="form-control" type="text" name="num_shares">
                    <button class="btn" type="submit">Purchase stock!</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}